@model KarateIsere.DataAccess.Inscriptions
@using KarateIsere.DataAccess;



@using (Html.BeginForm("Create", "Inscriptions", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    List<Competiteur> competiteurs = (List<Competiteur>) ViewBag.Competiteurs;
    List<Competiteur> inscrits = (List<Competiteur>) ViewBag.Inscrits;

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {
       @class = "text-danger"
   })

        <div class="form-group col-md-12">
            <label class="control-label col-md-4"> Sélectionnez une compétition</label>
            <div class="col-md-8">
                @Html.DropDownListFor(Model => Model.CompetitionId, (List<SelectListItem>) ViewBag.Competition, htmlAttributes: new {
               @class = "form-control",
               @onchange = "setCompetId(this.value)"
           })
            </div>
        </div>



        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Vos compétiteurs</h4>
                    </div>
                </div>

                <div class="panel-body">
                    @if (competiteurs != null && competiteurs.Count > 0) {
                        <div class="panel-body">
                            <table id="dropSrc" class="table"
                                   dropzone="true" ondragover="allowDrop(event)"
                                   ondrop="dropRemove(event)">
                                @foreach (Competiteur c in competiteurs) {

                                    <tr id="@c.NumLicence" draggable="true" ondragstart="drag(event)">
                                        <td>
                                            @Html.Label(@c.NumLicence)
                                        </td>
                                        <td>
                                            @Html.Label(@c.Nom)
                                        </td>
                                        <td>
                                            @Html.Label(@c.Prenom)
                                        </td>
                                        <td>
                                            @Html.Label(@c.CategorieName)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else {
                        <p> Vous n'avez pas de compétiteurs enregistrés. @Html.ActionLink("Ajouter des compétiteurs", "Index", "Competiteurs", new {
                                                                        area = "Private"
                                                                    }, null)</p>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Listes des inscrits</h4>
                    </div>
                </div>

                <div class="panel-body">
                    <table id="dropDest" class="table" width="600px" height="100px"
                           dropzone="true" ondrop="dropAdd(event)" ondragover="allowDrop(event)"
                           ondragstart="drag(event)">
                        @foreach (Competiteur c in inscrits) {

                            <tr id="@c.NumLicence" draggable="true" ondragstart="drag(event)">
                                <td>
                                    @Html.Label(@c.NumLicence)
                                </td>
                                <td>
                                    @Html.Label(@c.Nom)
                                </td>
                                <td>
                                    @Html.Label(@c.Prenom)
                                </td>
                                <td>
                                    @Html.Label(@c.CategorieName)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Sauver" class="btn btn-default" />
        </div>
    </div>
}



<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        console.log("drag" + ev.target.id);
        ev.dataTransfer.setData("text/html", ev.target.id);
    }

    function dropAdd(ev) {
        console.log("drop" + ev);
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text/html");
        console.log('dropAdd : ' + data);
        console.log(ev.target);
        // ev.target.appendChild(document.getElementById(data));

        $.ajax({
            type: "POST",
            url: "@Url.Action( "AddCompetiteur", "Inscriptions" )",
            data: { numLicence: data },
            success: function (res) {
                $("#dropDest").append(document.getElementById(data));
            }
        });
    }

    function dropRemove(ev) {
        console.log("dropRemove" + ev);
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text/html");
        console.log(data);
        console.log(ev.target);

        $.ajax({
            type: "POST",
            url: "@Url.Action( "DelCompetiteur", "Inscriptions" )",
            data: { numLicence: data },
            success: function (res) {
                $("#dropSrc").append(document.getElementById(data));
            }
        });
    }

    function setCompetId(competId) {
        $.ajax({
            type: "POST",
            url: "@Url.Action( "SetCompetition", "Inscriptions" )",
            data: { competId: competId },
            success: function () {
                window.location = '@Url.Action("Index", "Inscriptions")';
            }
        });
    }
</script>